html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	min-width: 300px;

	background-attachment: fixed;
	justify-content: center;
    align-items: flex-start;
    color: black;
}
html, body, #main, .subtitleCont, .subtitle, #subtitle0 ul {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#main {
	width: 95%;
	height: 80%;
	max-height: 1200px;
	min-width: 935px;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	margin: 10px;
	/*background-color: darkgreen;*/
}

.subtitleCont {
	height: 120px;
	width: 500px;
	/*background-color: darkred;*/
	border: solid 1px black;
	margin: 10px;
	justify-content: center;
	align-items: center;
}

.subtitle {
	overflow: hidden;
}

.subtitle ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#subtitleCont0, #subtitleCont1, #subtitleCont2, #subtitleCont3, #subtitleCont4 {
	position: relative;
	background-color: white;
}

#subtitle0 {
	position: absolute;
	top: 0px;
	/*justify-content: flex-start;*/
	align-items: center;
	font-family: oswald;
	font-size: 20px;
	height: 100%;
	width: 100%;
	letter-spacing: 4px;
	white-space: nowrap;
	/*background-color: lightblue;*/
	flex-direction: column;
	/*justify-content: space-around;*/
}

#subtitle1 {
	position: absolute;
	/*top: 0px;*/
	align-items: center;
	font-family: oswald;
	font-size: 20px;
	height: 100%;
	width: 100%;
	letter-spacing: 4px;
	white-space: nowrap;
	flex-direction: column;
}


.zero_line, .one_line {
	position: absolute;
	width: 85%;
	padding-left: 0%;
	background-color: white;
}

#zero_line0 {
	animation: zero_play_zero 5s 15 forwards;
	z-index: 3;
}

@keyframes zero_play_zero {
	0% {
		top: 0px;
		color: rgba(0,0,0,0.5)
	}
	15% {
		color: black;
	}
	15% {
		top: 9px;
	}
	100% {
		top: 9px;	
	}
}

#zero_line1 {
	animation: zero_play_one 5s 15 forwards;
	z-index: 2;
}

@keyframes zero_play_one {
	0% {
		top: 0px;
		/*opacity: 0;*/
	}
	15% {
		top: 9px;
		/*opacity: 1;*/
	}
	35% {
		top: 46px;
		/*opacity: 1;	*/
	}
	100% {
		top: 46px;		
	}
}

#zero_line2 {
	animation: zero_play_two 5s 15 forwards;
	z-index: 1;
}

@keyframes zero_play_two {
	0% {
		top: 0px;
		/*opacity: 0;*/
	}
	15% {
		top: 9px;
	}
	35% {
		top: 46px;
		/*opacity: 0;*/
	}
	55% {
		top: 83px;
		/*opacity: 1;	*/
	}
	100% {
		top: 83px;	
	}
}
	/*^^ animation for sub 0 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv animation for sub 1 vv*/

#one_line0 {
	animation: one_play_zero 5s 15 forwards;
	z-index: 3;
}

@keyframes one_play_zero {
	0% {
		top: 80px;
	}
	15% {
		top: 9px;
	}
	100% {
		top: 9px;	
	}
}

#one_line1 {
	animation: one_play_one 5s 15 forwards;
	z-index: 2;
}

@keyframes one_play_one {
	0% {
		top: 80px;
		
	}
	15% {
		top: 9px;
		
	}
	35% {
		top: 46px;
		
	}
	100% {
		top: 46px;		
	}
}

#one_line2 {
	animation: one_play_two 5s 15 forwards;
	z-index: 1;
}

@keyframes one_play_two {
	0% {
		top: 80px;
	}
	15% {
		top: 9px;
	}
	35% {
		top: 46px;
	}
	55% {
		top: 83px;
	}
	100% {
		top: 83px;	
	}
}

	/*^^ animation for sub 1 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv code & animation for sub 2 vv*/


#subtitle2 {
	position: absolute;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;

	/*font-family: open sans condensed, sans serif;*/
	font-family: Fjalla One, sans-serif;
	font-size: 35px;
	white-space: nowrap;
	text-align: center;
	
	/*background-color: lightblue;*/
}

.two_line {
	position: absolute;
	width: 95%;
	padding-left: 0%;
	background-color: white;
	top: 44px;
}


#two_line0 {
	animation: two_play_zero 12s 15 forwards;
	z-index: 3;
	/*background-color: red;*/
	/*color: red;*/
	/*padding-left: 30px;*/
}

@keyframes two_play_zero {
	
	0% {
		z-index: 6;
		margin-left: 0px;
		opacity: 0;
	}
	10% {
		/*top, center*/
		z-index: 6;
		margin-left: 0px;
		opacity: 1;	
	}
	20% {
		/*bottom, right*/
		margin-left: 500px;	
		opacity: 0;
	}
	54.99% {
		/*bottom, right*/
		z-index: 3;
		margin-left: 500px;	
	}
	55% {
		/*bottom, center*/
		z-index: 3;
		margin-left: 0px;
	}
	99.99% {
		z-index: 3;
	}
	100% {
		/*top, center*/
		z-index: 6;
		opacity: 0;
	}
}

#two_line1 {
	animation: two_play_one 12s 15 forwards;
	z-index: 2;
	/*background-color: green;*/
	/*color: green;*/
	/*padding-left: 30px;*/
}

@keyframes two_play_one {
	0%, 10% {
		opacity: 0;
	}
	15% {
		/*top, center*/
		z-index: 5;
		margin-left: 0px;
		opacity: 1;
	}
	35% {
		/*top, center*/
		z-index: 5;
		margin-left: 0px;
		opacity: 1;		
	}
	44.9% {
		z-index: 5;
		margin-left: 500px;
		opacity: 0;
	}
	45% {
		z-index: 2;
		margin-left: 500px;
	}
	99.98%{
		margin-left: 500px;	
		opacity: 0;
		display: none;
	}
	99.99% {
		z-index: 2;
		margin-left: 0px;
		display: flex;
	}
	100% {
		/*top, center*/
		z-index: 5;
		margin-left: 0px;
	}
}

#two_line2 {
	animation: two_play_two 12s 15 forwards;
	z-index: 1;
	/*background-color: blue;*/
	/*color: blue;*/
	/*padding-left: 60px;*/
}

@keyframes two_play_two {
	0%, 15% {
		opacity: 0;
	}
	20% {
		/*top, center*/
		z-index: 4;
		margin-left: 0px;
		opacity: 1;
	}
	55% {
		/*top, center*/
		z-index: 4;
		margin-left: 0px;
		opacity: 1;		
	}
	65% {
		/*top, right*/
		margin-left: 500px;	
		opacity: 0;
	}
	99.99%{
		/*top, right*/
		z-index: 4;
		margin-left: 500px;
		display: none;
	}
	100% {
		/*top, center*/
		z-index: 4;
		margin-left: 0px;
		display: block;
	}
}

#two_line3 {
	animation: two_play_three 12s 15 forwards;
	z-index: 1;
	/*background-color: blue;*/
	/*color: blue;*/
	/*padding-left: 60px;*/
}

@keyframes two_play_three {
	0%, 15% {
		/*top, center*/
		z-index: 3;
		margin-left: 0px;
		opacity: 0;
	}
	75% {
		/*top, center*/
		z-index: 3;
		margin-left: 0px;
		opacity: 1;		
	}
	85% {
		/*top, right*/
		margin-left: 500px;	
		opacity: 0;
	}
	99.99%{
		/*top, right*/
		z-index: 3;
		margin-left: 500px;
		display: none;
	}
	100% {
		/*top, center*/
		z-index: 3;
		margin-left: 0px;
		opacity: 1;
		display: block;
		opacity: 0;
	}
}

	/*^^ animation for sub 2 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv code & animation for sub 3 vv*/


#subtitle3 {
	position: absolute;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;

	/*font-family: open sans condensed, sans serif;*/
	font-family: Fjalla One, sans-serif;
	font-size: 35px;
	white-space: nowrap;
	text-align: center;
	
	/*background-color: lightblue;*/
}

.three_line {
	position: absolute;
	width: 95%;
	padding-left: 0%;
	background-color: white;
	top: 44px;
}


#three_line0 {
	animation: three_play_zero 12s 10 forwards;
	z-index: 3;
	/*background-color: red;*/
	/*color: red;*/
	/*padding-left: 30px;*/
}

@keyframes three_play_zero {
	
	0% {
		z-index: 6;
		margin-top: 0px;
		opacity: 0;
	}
	10% {
		/*top, center*/
		z-index: 6;
		margin-top: 0px;
		opacity: 1;	
	}
	20% {
		/*bottom, right*/
		margin-top: 200px;	
		opacity: 0;
	}
	54.99% {
		/*bottom, right*/
		z-index: 3;
		margin-top: 200px;	
	}
	55% {
		/*bottom, center*/
		z-index: 3;
		margin-top: 0px;
	}
	99.99% {
		z-index: 3;
	}
	100% {
		/*top, center*/
		z-index: 6;
		opacity: 0;
	}
}

#three_line1 {
	animation: three_play_one 12s 10 forwards;
	z-index: 2;
	/*background-color: green;*/
	/*color: green;*/
	/*padding-top: 30px;*/
}

@keyframes three_play_one {
	0%, 10% {
		opacity: 0;
	}
	15% {
		/*top, center*/
		z-index: 5;
		margin-top: 0px;
		opacity: 1;
	}
	35% {
		/*top, center*/
		z-index: 5;
		margin-top: 0px;
		opacity: 1;		
	}
	44.9% {
		z-index: 5;
		margin-top: 200px;
		opacity: 0;
	}
	45% {
		z-index: 2;
		margin-top: 200px;
	}
	99.98%{
		margin-top: 200px;	
		opacity: 0;
		display: none;
	}
	99.99% {
		z-index: 2;
		margin-top: 0px;
		display: flex;
	}
	100% {
		/*top, center*/
		z-index: 5;
		margin-top: 0px;
	}
}

#three_line2 {
	animation: three_play_two 12s 10 forwards;
	z-index: 1;
	/*background-color: blue;*/
	/*color: blue;*/
	/*padding-top: 60px;*/
}

@keyframes three_play_two {
	0%, 15% {
		opacity: 0;
	}
	20% {
		/*top, center*/
		z-index: 4;
		margin-top: 0px;
		opacity: 1;
	}
	55% {
		/*top, center*/
		z-index: 4;
		margin-top: 0px;
		opacity: 1;		
	}
	65% {
		/*top, right*/
		margin-top: 200px;	
		opacity: 0;
	}
	99.99%{
		/*top, right*/
		z-index: 4;
		margin-top: 200px;
		display: none;
	}
	100% {
		/*top, center*/
		z-index: 4;
		margin-top: 0px;
		display: block;
	}
}

#three_line3 {
	animation: three_play_three 12s 10 forwards;
	z-index: 1;
	/*background-color: blue;*/
	/*color: blue;*/
	/*padding-top: 60px;*/
}

@keyframes three_play_three {
	0%, 15% {
		/*top, center*/
		z-index: 3;
		margin-top: 0px;
		opacity: 0;
	}
	75% {
		/*top, center*/
		z-index: 3;
		margin-top: 0px;
		opacity: 1;		
	}
	85% {
		/*top, right*/
		margin-top: 200px;	
		opacity: 0;
	}
	99.99%{
		/*top, right*/
		z-index: 3;
		margin-top: 200px;
		display: none;
	}
	100% {
		/*top, center*/
		z-index: 3;
		margin-top: 0px;
		opacity: 1;
		display: block;
		opacity: 0;
	}
}

	/*^^ animation for sub 3 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv code & animation for sub 4 vv*/


#subtitle4 {
	/*position: absolute;*/
	height: 100%;
	width: auto;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	/*font-family: open sans condensed, sans serif;*/
	font-family: Bitter, serif;
	font-size: 35px;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	
	/*background-color: lightblue;*/
}

.four_line {
	/*position: absolute;*/
	width: auto;
	padding-left: 0%;
	background-color: white;
	top: 44px;
}


#four_line0 {
	animation: four_play_zero 10s 10 forwards;
	/*background-color: red;*/
	/*color: red;*/
	/*padding-left: 30px;*/
}

@keyframes four_play_zero {
	/*this one is the animated ticker. Also make a Javascript one*/
	0% {

	}
}
/*mobile*/
@media screen and (max-width: 1300px) and (min-width: 801px) and (min-height: 1000px) and (orientation: portrait) {
	.subtitleCont {
		-ms-transform: scale(1); /* IE 9 */
	    -webkit-transform: scale(1); /* Safari */
	    transform: scale(1); /* Standard syntax */

	    /*margin-bottom: 0px;*/
	}
}