html, body {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	min-width: 300px;

	background-attachment: fixed;
	justify-content: center;
    align-items: flex-start;
    color: black;

}
html, body, #main, .subtitleCont, .subtitle, #subtitle0 ul, #six_line_a_cont, #six_line_b_cont {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#main {
	width: 95%;
	height: auto;
	min-width: 935px;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	margin: 10px;
	/*background-color: darkgreen;*/
}

.subtitleCont {
	height: 120px;
	width: 500px;
	/*background-color: darkred;*/
	border: solid 1px black;
	margin: 10px;
	justify-content: center;
	align-items: center;
}

.subtitle {
	overflow: hidden;
}

.subtitle ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#subtitleCont0, #subtitleCont1, #subtitleCont2, #subtitleCont3, #subtitleCont4 {
	position: relative;
	background-color: white;
}

#subtitle0 {
	top: 0px;
	left: 0px;
	font-family: oswald;
	font-size: 20px;
	height: 100%;
	width: 100%;
	letter-spacing: 4px;
	white-space: nowrap;
	flex-direction: column;
}

#subtitle1 {
	/*position: absolute;*/
	top: 0px;
	left: 0px;
	/*align-items: center;*/
	font-family: oswald;
	font-size: 20px;
	height: 100%;
	width: 100%;
	letter-spacing: 4px;
	white-space: nowrap;
	flex-direction: column;
}


.zero_line, .one_line {
	position: absolute;
	width: 85%;
	padding-left: 7.5%;
	background-color: white;

}

#zero_line0 {
	animation: zero_play_zero 5s 15 forwards;
	z-index: 3;
}

@keyframes zero_play_zero {
	0% {
		top: 0px;
		color: rgba(0,0,0,0.5);
	}
	15% {
		color: black;
	}
	15% {
		top: 9px;
	}
	100% {
		top: 9px;	
	}
}

#zero_line1 {
	animation: zero_play_one 5s 15 forwards;
	z-index: 2;
}

@keyframes zero_play_one {
	0% {
		top: 0px;
		/*opacity: 0;*/
	}
	15% {
		top: 9px;
		/*opacity: 1;*/
	}
	35% {
		top: 46px;
		/*opacity: 1;	*/
	}
	100% {
		top: 46px;		
	}
}

#zero_line2 {
	animation: zero_play_two 5s 15 forwards;
	z-index: 1;
}

@keyframes zero_play_two {
	0% {
		top: 0px;
		/*opacity: 0;*/
	}
	15% {
		top: 9px;
	}
	35% {
		top: 46px;
		/*opacity: 0;*/
	}
	55% {
		top: 83px;
		/*opacity: 1;	*/
	}
	100% {
		top: 83px;	
	}
}
	/*^^ animation for sub 0 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv animation for sub 1 vv*/

#one_line0 {
	animation: one_play_zero 5s 15 forwards;
	z-index: 3;
}

@keyframes one_play_zero {
	0% {
		top: 80px;
	}
	15% {
		top: 9px;
	}
	100% {
		top: 9px;	
	}
}

#one_line1 {
	animation: one_play_one 5s 15 forwards;
	z-index: 2;
}

@keyframes one_play_one {
	0% {
		top: 80px;
		
	}
	15% {
		top: 9px;
		
	}
	35% {
		top: 46px;
		
	}
	100% {
		top: 46px;		
	}
}

#one_line2 {
	animation: one_play_two 5s 15 forwards;
	z-index: 1;
}

@keyframes one_play_two {
	0% {
		top: 80px;
	}
	15% {
		top: 9px;
	}
	35% {
		top: 46px;
	}
	55% {
		top: 83px;
	}
	100% {
		top: 83px;	
	}
}

	/*^^ animation for sub 1 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv code & animation for sub 2 vv*/

#subtitleCont2 {
	overflow: hidden;
}

#subtitle2 {
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	/*align-items: center;*/
	/*justify-content: center;*/

	/*font-family: open sans condensed, sans serif;*/
	font-family: Fjalla One, sans-serif;
	font-size: 35px;
	white-space: nowrap;
	text-align: center;
	
	/*background-color: lightblue;*/
}

.two_line {
	position: absolute;
	width: 95%;
	padding-left: 2.5%;
	background-color: white;
	top: 44px;
}


#two_line0 {
	animation: two_play_zero 12s 15 forwards;
	z-index: 3;
	/*background-color: red;*/
	/*color: red;*/
	/*padding-left: 30px;*/
}

@keyframes two_play_zero {
	
	0% {
		z-index: 6;
		margin-left: 0px;
		opacity: 0;
	}
	10% {
		/*top, center*/
		z-index: 6;
		margin-left: 0px;
		opacity: 1;	
	}
	20% {
		/*bottom, right*/
		margin-left: 500px;	
		opacity: 0;
	}
	54.99% {
		/*bottom, right*/
		z-index: 3;
		margin-left: 500px;	
	}
	55% {
		/*bottom, center*/
		z-index: 3;
		margin-left: 0px;
	}
	99.99% {
		z-index: 3;
	}
	100% {
		/*top, center*/
		z-index: 6;
		opacity: 0;
	}
}

#two_line1 {
	animation: two_play_one 12s 15 forwards;
	z-index: 2;
	/*background-color: green;*/
	/*color: green;*/
	/*padding-left: 30px;*/
}

@keyframes two_play_one {
	0%, 10% {
		opacity: 0;
	}
	15% {
		/*top, center*/
		z-index: 5;
		margin-left: 0px;
		opacity: 1;
	}
	35% {
		/*top, center*/
		z-index: 5;
		margin-left: 0px;
		opacity: 1;		
	}
	44.9% {
		z-index: 5;
		margin-left: 500px;
		opacity: 0;
	}
	45% {
		z-index: 2;
		margin-left: 500px;
	}
	99.98%{
		margin-left: 500px;	
		opacity: 0;
		display: none;
	}
	99.99% {
		z-index: 2;
		margin-left: 0px;
		display: flex;
	}
	100% {
		/*top, center*/
		z-index: 5;
		margin-left: 0px;
	}
}

#two_line2 {
	animation: two_play_two 12s 15 forwards;
	z-index: 1;
	/*background-color: blue;*/
	/*color: blue;*/
	/*padding-left: 60px;*/
}

@keyframes two_play_two {
	0%, 15% {
		opacity: 0;
	}
	20% {
		/*top, center*/
		z-index: 4;
		margin-left: 0px;
		opacity: 1;
	}
	55% {
		/*top, center*/
		z-index: 4;
		margin-left: 0px;
		opacity: 1;		
	}
	65% {
		/*top, right*/
		margin-left: 500px;	
		opacity: 0;
	}
	99.99%{
		/*top, right*/
		z-index: 4;
		margin-left: 500px;
		display: none;
	}
	100% {
		/*top, center*/
		z-index: 4;
		margin-left: 0px;
		display: block;
	}
}

#two_line3 {
	animation: two_play_three 12s 15 forwards;
	z-index: 1;
	/*background-color: blue;*/
	/*color: blue;*/
	/*padding-left: 60px;*/
}

@keyframes two_play_three {
	0%, 15% {
		/*top, center*/
		z-index: 3;
		margin-left: 0px;
		opacity: 0;
	}
	75% {
		/*top, center*/
		z-index: 3;
		margin-left: 0px;
		opacity: 1;		
	}
	85% {
		/*top, right*/
		margin-left: 500px;	
		opacity: 0;
	}
	99.99%{
		/*top, right*/
		z-index: 3;
		margin-left: 500px;
		display: none;
	}
	100% {
		/*top, center*/
		z-index: 3;
		margin-left: 0px;
		opacity: 1;
		display: block;
		opacity: 0;
	}
}

	/*^^ animation for sub 2 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv code & animation for sub 3 vv*/


#subtitleCont3 {
	overflow: hidden;
}

#subtitle3 {
	height: 100%;
	width: 100%;
	font-family: Fjalla One, sans-serif;
	font-size: 35px;
	white-space: nowrap;
	text-align: center;
}

.three_line {
	position: absolute;
	width: 100%;
	padding-left: 0%;
	background-color: white;
	top: 44px;
}


#three_line0 {
	animation: three_play_zero 15s 10 forwards;
	z-index: 3;
}

@keyframes three_play_zero {
	
	0%, {
		z-index: 6;
		margin-top: 0px;
		opacity: 0;
	}
	10% {
		z-index: 6;
		margin-top: 0px;
		opacity: 1;	
	}
	20% {
		margin-top: 200px;	
		opacity: 0;
	}
	54.99% {
		z-index: 3;
		margin-top: 200px;	
	}
	55% {
		z-index: 3;
		margin-top: 0px;
	}
	99.99% {
		z-index: 3;
	}
	100% {
		z-index: 6;
		opacity: 0;
	}
}

#three_line1 {
	animation: three_play_one 15s 10 forwards;
	z-index: 2;
}

@keyframes three_play_one {
	0%, 10% {
		opacity: 0;
	}
	15%, 35% {
		z-index: 5;
		margin-top: 0px;
		opacity: 1;
	}
	44.9% {
		z-index: 5;
		margin-top: 200px;
		opacity: 0;
	}
	45% {
		z-index: 2;
		margin-top: 200px;
	}
	99.98%{
		margin-top: 200px;	
		opacity: 0;
		display: none;
	}
	99.99% {
		z-index: 2;
		margin-top: 0px;
		display: flex;
	}
	100% {
		z-index: 5;
		margin-top: 0px;
	}
}

#three_line2 {
	animation: three_play_two 15s 10 forwards;
	z-index: 1;
}

@keyframes three_play_two {
	0%, 15% {
		opacity: 0;
	}
	20%, 55% {
		/*top, center*/
		z-index: 4;
		margin-top: 0px;
		opacity: 1;
	}
	65% {
		/*top, right*/
		margin-top: 200px;	
		opacity: 0;
	}
	99.99%{
		/*top, right*/
		z-index: 4;
		margin-top: 200px;
		display: none;
	}
	100% {
		/*top, center*/
		z-index: 4;
		margin-top: 0px;
		display: block;
	}
}

#three_line3 {
	animation: three_play_three 15s 10 forwards;
	z-index: 1;
	/*background-color: blue;*/
	/*color: blue;*/
	/*padding-top: 60px;*/
}

@keyframes three_play_three {
	0%, 15% {
		/*top, center*/
		z-index: 3;
		margin-top: 0px;
		opacity: 0;
	}
	75% {
		/*top, center*/
		z-index: 3;
		margin-top: 0px;
		opacity: 1;		
	}
	85% {
		/*top, right*/
		margin-top: 200px;	
		opacity: 0;
	}
	99.99%{
		/*top, right*/
		z-index: 3;
		margin-top: 200px;
		display: none;
	}
	100% {
		/*top, center*/
		z-index: 3;
		margin-top: 0px;
		opacity: 1;
		display: block;
		opacity: 0;
	}
}

	/*^^ animation for sub 3 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv code & animation for sub 4 vv*/

#subtitleCont4 {
	overflow: hidden;
}


#subtitle4 {
	/*position: absolute;*/
	height: 100%;
	/*width: auto;*/
	widows: 100%;
	/*align-items: center;*/
	/*justify-content: flex-end;*/
	flex-direction: row;

	/*font-family: open sans condensed, sans serif;*/
	font-family: Bitter, serif;
	font-size: 35px;
	white-space: nowrap;
	/*text-align: center;*/
	/*overflow: hidden;*/
	
	/*background-color: lightblue;*/
}

.four_line {
	position: absolute;
	/*width: auto;*/
	padding-left: 0%;
	/*background-color: white;*/
	top: 44px;
	/*left: 0px;*/
}

#four_blank {
	width: 0px;
}

#four_line0 {
	animation: four_play_zero 10s 10 forwards;
	order: 1;
	z-index: 5;
	/*background-color: red;*/
	color: red;
	/*padding-left: 30px;*/
}

@keyframes four_play_zero {
	/*this one is the animated ticker. Also make a Javascript one*/
	0% {

	}
}

#four_line1 {
	order: 2;
	color: green;
}

#four_line2 {
	order: 3;
	color: blue;
}

/*mobile*/
@media screen and (max-width: 1300px) and (min-width: 801px) and (min-height: 1000px) and (orientation: portrait) {
	.subtitleCont {
		-ms-transform: scale(1); /* IE 9 */
	    -webkit-transform: scale(1); /* Safari */
	    transform: scale(1); /* Standard syntax */

	    /*margin-bottom: 0px;*/
	}
}

	/*^^ animation for sub 4 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv animation for sub 5 vv*/

#subtitleCont5 {
	position: relative;
	justify-content: flex-end;
	overflow: hidden;
}

#subtitle5 {
	height: auto;
	width: auto;
	position: absolute;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row-reverse;
	font-family: Bitter, serif;
	font-size: 35px;
	white-space: nowrap;
	animation: five_play_whole 5s 15 forwards linear;
}

@keyframes five_play_whole {
	0% {
		bottom: 130px;
		left: -800px;
		/*opacity: 0;*/
	}

	10% {
		opacity: 1;
	}

	60% {
		opacity: 1
	}

	90% {
		bottom: -40px;
		left: 0px;
		/*opacity: 0;*/
	}

	100% {
		/*opacity: 0;*/
		bottom: -40px;
		left: 0px;
	}
}

.five_line {
	/*position: absolute;*/
	padding-left: 8px;
}

#five_line0 {
	animation: five_play_zero 10s 15 forwards;
	z-index: 3;
	/*color: red;*/
}

@keyframes five_play_zero {
	0% {
		left: -356px;
	}
	10% {
		left: 0px;
	}
	100% {
		left: 100%;	
	}
}

#five_line1 {
	animation: five_play_one 10s 15 forwards;
	z-index: 2;
	/*color: green;*/
}

@keyframes five_play_one {
	0% {
		left: -100%;
	}
	30% {
		left: 100%;
		
	}
	35% {
		left: 46px;
		
	}
	100% {
		left: 46px;		
	}
}

#five_line2 {
	animation: five_play_two 10s 15 forwards;
	z-index: 1;
	/*color: blue;*/
}

@keyframes five_play_two {
	0% {
		left: 80px;
	}
	15% {
		left: 9px;
	}
	35% {
		left: 46px;
	}
	55% {
		left: 83px;
	}
	100% {
		left: 83px;	
	}
}
	/*^^ animation for sub 5 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv animation for sub 6 vv*/

#subtitleCont6 {
	border-top: 20px solid white;
	border: 20px solid white;
	border-left: none;
	border-right: none;
	justify-content: flex-start;
	padding-left: 20px;

	outline: 1px solid black;

	/*box-shadow: 0 20px 20px white inset, 0 -20px 20px white inset;*/
	/*-webkit-box-shadow: 0 20px 20px red inset, 0 -20px 20px red inset;*/
	overflow: hidden;

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#subtitle6 {
	height: auto;
	width: auto;
	align-items: center;
	justify-content: center;
	/*flex-direction: row-reverse;*/
	font-family: Merriweather Sans, sans-serif;
	font-size: 30px;
	white-space: nowrap;
	/*animation: five_play_whole 5s 15 forwards linear;*/
	/*overflow: visible;*/
	overflow: hidden;
}

#six_line_a_cont {
	flex-direction: column-reverse;
	animation: six_play_a 20s 5 forwards;
}

#six_line_b_cont {
	flex-direction: column;
	animation: six_play_b 20s 5 forwards;
	
}

#six_line_a_cont, #six_line_b_cont {
	height: 60px;
	z-index: 0;
	/*overflow: hidden;*/
}

.six_line_a {
	padding: 15px 0;
	text-align: right;
	min-height: 38px;
}

@keyframes six_play_a {
	0% {
		opacity: 0;
		margin-top: 8px;
	} 
	5% {
		opacity: 1;
		margin-top: 8px;
	}
	7.5% {
		opacity: 0.8; /*fade out for animation*/
	}
	10%, 45% {
		opacity: 1;
		margin-top: 144px;
	}
	47.5% {
		opacity: 0.8;
	}
	50%, 60% {
		opacity: 1;
		margin-top: 280px;
	}
	62.5% {
		opacity: 0.8;
	}
	65%, 90% {
		opacity: 1;
		margin-top: 415px;
	}
	92.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		margin-top: 415px;
	}

}

/*tatty bye = 414px*/

.six_line_b {
	padding: 15px 0;
	min-height: 38px;
}

@keyframes six_play_b {
	0% {
		opacity: 0;
		margin-bottom: 9px;
	}
	5%, 15% {
		opacity: 1;
		margin-bottom: 9px;
	}
	17.5% {
		opacity: 0.8;
	}
	20%, 30% {
		opacity: 1;
		margin-bottom: 145px;
	}
	32.5% {
		opacity: 0.8;
	}
	35%, 45% {
		opacity: 1;
		margin-bottom: 280px;
	}
	47.2% {
		opacity: 0.8;
	}
	50%, 60% {
		opacity: 1;
		margin-bottom: 9px;	
	}
	62.5% {
		opacity: 0.8;
	}
	65%, 75% {
		opacity: 1;
		margin-bottom: 145px;
	}
	77.5% {
		opacity: 0.8%;
	}
	80%, 90% {
		opacity: 1;
		margin-bottom: 417px;
	}
	92.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		margin-bottom: 417px;
	}
}

#six_line_c {
	padding: 0px 10px 0px 0px;
	font-size: 30px;
	animation: six_play_c 20s 5 forwards;
}

@keyframes six_play_c {
	5%, 90% {
		opacity: 1;
	}
	0%, 92.5%, 100% {
		opacity: 0;
	}

}

.construction_notice {
	font-size: 40px;
	color: goldenrod;
	font-family: Miriam Libre;
}